# ======================================
# PYTHON / VENV
# ======================================
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.log
.env
.venv/
.venv1/
ENV/
env/
venv/

# ======================================
# IDE / OS FILES
# ======================================
.idea/
.vscode/
.DS_Store
Thumbs.db
# ======================================
# PROJECT DATA AND RESULTS
# ======================================

# --- Core data directories ---
/data/
/data/**/*


# ======================================
# TESTING / TEMP FILES
# ======================================
coverage/
.cache/
pytest_cache/
tmp/
*.tmp
*.out
outputs/*